:root {
  box-sizing: border-box;
  --grid-pd: 0.75em;
  --primary-blue: #3751ff;
  --primary-gray: #dfe0eb;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 75px 1fr;
  gap: 15px;
}

.sidebar {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  padding: var(--grid-pd);
  display: grid;
  grid-template-rows: 75px 1fr 1fr;
  border-right: 1px solid black;
}

.logo {
  font-size: 2.25rem;
  font-weight: bolder;
  grid-row: 1 / 2;
}

.nav-item {
  margin-bottom: 1em;
}

.nav-item a {
  color: black;
}

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  border-bottom: 1px solid black;
}

.current-menu {
  grid-column: 1 / 2;
  font-size: 1.5rem;
}

.other-menu {
  grid-column: 2 / 3;
  display: flex;
  justify-content: space-evenly;
}

.main {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: max-content max-content;
}

.analytics {
  grid-column: 1 / 6;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 12px;
  grid-auto-rows: max-content;
  padding: var(--grid-pd);
}

.menu-title {
  grid-column: 1 / -1;
  margin-bottom: 15px;
}

.analytics-card {
  display: grid;
  grid-template-rows: 1fr max-content max-content;
  border: 1px solid black;
  padding: var(--grid-pd);
}

.description {
  font-size: 0.75rem;
}

.plot img {
  width: 100%;
  height: 40%;
}

.control {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.tasks-contacts {
  grid-column: 6 / -1;
  grid-row: 1 / 2;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.tasks-container {
  padding: var(--grid-pd);
}

.contacts-container {
  padding: var(--grid-pd);
}

form > div {
  margin-bottom: 10px;
}

.checkbox-row {
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--primary-gray);
}

.checkbox-container {
  position: relative;
}

input[type='checkbox'] {
  opacity: 0;
  margin-right: 0.75rem;
}

.checkbox-container > label {
  position: absolute;
  left: 0;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  border: 2px solid #c5c7cd;
  cursor: pointer;
}

label::after {
  content: '';
  opacity: 0;
  position: absolute;
  top: 33%;
  left: 22%;
  border: 3px solid white;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  width: 12px;
  height: 6px;
}

input[type='checkbox']:checked + label {
  background: var(--primary-blue);
  border: none;
}

input[type='checkbox']:hover:not(:checked) + label {
  background: #ebeeff;
}

input[type='checkbox']:hover:checked + label {
  box-shadow: 0 0 8px 0 #a0a0a0a0;
}

input[type='checkbox']:checked + label::after {
  opacity: 1;
}

.contact-row {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--primary-gray);
}

.more-info {
  font-size: .75rem;
}

.contact-row .control {
  margin-left: auto;
}

.reviews {
  grid-column: 1 / 2;
  grid-row: 2 / -1;
  padding: var(--grid-pd);
  border: 1px solid black;
  display: flex;
}