:root {
  box-sizing: border-box;
  --prefered-spacing: 1em;
  --primary-gray: #dfe0eb;
  --primary-purple: #56178c;
  --sidenav-purple: #cca3f0;
  --text-light: rgb(130, 132, 144);
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1f5f9;
}

body::-webkit-scrollbar {
  width: 0.4rem;
}

body::-webkit-scrollbar-track {
  background-color: var(--primary-gray);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-purple);
}

body::-webkit-scrollbar:horizontal {
  height: 0.4rem;
}

body::-webkit-scrollbar-track:horizontal {
  background-color: var(--primary-gray);
}

body::-webkit-scrollbar-thumb:horizontal {
  background-color: var(--primary-purple);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 75px 1fr;
  gap: 15px;
}

.sidebar {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  padding: var(--prefered-spacing);
  display: grid;
  grid-template-rows: 75px 1fr 1fr;
  border-right: 1px solid black;
  background-color: rgb(26, 26, 33);
}

.logo a {
  font-size: 2rem;
  font-weight: bolder;
  grid-row: 1 / 2;
  color: var(--sidenav-purple);
  cursor: pointer;
}

.nav-item {
  margin-bottom: 1.25em;
}

.nav-item a {
  position: relative;
  color: var(--text-light);
  padding-bottom: 5px;
}

.nav-item a span:not(.nav-item:first-child a) {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid var(--sidenav-purple);
  border-radius: 15%;
  transform: scale(0) translateY(50px);
  transition: 0.3s;
}

.nav-item a:hover:not(.nav-item:first-child a) {
  color: var(--sidenav-purple);
  font-weight: 500;
}

.nav-item a:hover:not(.nav-item:first-child a) span {
  transform: scale(1) translateY(0);
}

.main-nav .nav-item:first-child a {
  color: var(--sidenav-purple);
  font-weight: 500;
}

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .25);
  padding: var(--prefered-spacing);
}

.current-menu {
  grid-column: 1 / 2;
  font-size: 1.5rem;
  color: var(--primary-purple);
  font-weight: bolder;
}

.side-menu {
  grid-column: 2 / 3;
  display: flex;
  justify-content: space-evenly;
}

.icon {
  cursor: pointer;
}

.main {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: max-content max-content;
  gap: 25px;
  padding: var(--prefered-spacing);
}

.analytics {
  grid-column: 1 / 6;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
  padding: var(--prefered-spacing);
}

.analytics .more-info {
  grid-column: 1 / -1;
}

.menu-title {
  grid-column: 1 / -1;
  font-size: 1.5rem;
  font-weight: 500;
}

.analytics-card {
  display: grid;
  grid-template-rows: 1fr max-content max-content;
  padding: var(--prefered-spacing);
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .25);
  cursor: pointer;
}

.analytics-card:hover {
  box-shadow: 3px 2px 3px var(--primary-purple);
  transition: .2s;
}

.plot img {
  width: 100%;
  height: auto;
}

.control {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-left: auto;
}

.tasks-contacts {
  grid-column: 6 / -1;
  grid-row: 1 / 2;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.tasks-container,
.contacts-container {
  padding: var(--prefered-spacing);
}

form > div {
  margin-bottom: 10px;
}

.checkbox-row {
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--primary-gray);
}

.checkbox-container {
  position: relative;
}

input[type='checkbox'] {
  opacity: 0;
  margin-right: 0.75rem;
}

.checkbox-container > label {
  position: absolute;
  left: 0;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  border: 2px solid #c5c7cd;
  cursor: pointer;
}

label::after {
  content: '';
  opacity: 0;
  position: absolute;
  top: 33%;
  left: 22%;
  border: 3px solid white;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  width: 12px;
  height: 6px;
}

input[type='checkbox']:checked + label {
  background: var(--primary-purple);
  border: none;
}

input[type='checkbox']:hover:not(:checked) + label {
  background: #ebeeff;
}

input[type='checkbox']:hover:checked + label {
  box-shadow: 0 0 8px 0 #a0a0a0a0;
}

input[type='checkbox']:checked + label::after {
  opacity: 1;
}

.contacts-container .menu-title {
  margin-bottom: 15px;
}

.contact-row {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--primary-gray);
}

.more-info {
  font-size: 0.75rem;
}

.reviews {
  grid-column: 1 / 5;
  padding: var(--prefered-spacing);
}

.reviews-container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  padding: var(--prefered-spacing);
}

.review-row,
.announcement-row {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.review-row:nth-child(even) {
  text-align: right;
}

.review-row .more-info,
.announcement-row .more-info {
  border-bottom: 2px solid var(--primary-gray);
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.review {
  font-style: italic;
  font-weight: lighter;
}

.announcements {
  grid-column: 5 / -1;
  padding: var(--prefered-spacing);
}

.announcements-container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  padding: var(--prefered-spacing);
}

.announcement-content {
  font-size: 0.825rem;
}
