:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
  list-style-type: none;
}

li a {
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 75px 1fr;
  gap: 15px;
}

.sidebar {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  padding: 0.75em;
  display: grid;
  grid-template-rows: 75px 1fr 1fr;
  border-right: 1px solid black;
}

.logo {
  font-size: 2.25rem;
  font-weight: bolder;
  grid-row: 1 / 2;
}

.nav-item {
  margin-bottom: 1em;
}

.nav-item a {
  color: black;
}

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  border-bottom: 1px solid black;
}

.current-menu {
  grid-column: 1 / 2;
  font-size: 1.5rem;
}

.other-menu {
  grid-column: 2 / 3;
  display: flex;
  justify-content: space-evenly;
}

.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.menu.analytics {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 12px;
  grid-auto-rows: max-content;
}

.menu-title {
  grid-column: 1 / -1;
}

.analytics-card {
  display: grid;
  grid-template-rows: 1fr max-content max-content;
  border: 1px solid black;
  padding: .75rem;
}

.description {
  font-size: .75rem;
}

.plot img {
  width: 100%;
  height: 40%;
}

.control {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}